fastembed
qdrant-client==1.9.0
ollama
python-dotenv
pydantic  


# Data Acquisition & Financials
yfinance
fredapi
requests
newspaper3k
duckduckgo-search

# Data Processing & Storage
pandas
numpy
fastparquet
xlrd
pyarrow

# AI & LLM Integration
langchain-ollama

# Environment & Utilities
python-dotenv
beautifulsoup4
markdownify
rich
nltk                   



