fastembed
qdrant-client==1.9.0
ollama
python-dotenv
pydantic  


# Data Acquisition & Financials
yfinance
fredapi
requests
newspaper3k
duckduckgo-search

# Data Processing & Storage
pandas
numpy
duckdb
fastparquet
xlrd
pyarrow
tqdm

# AI & LLM Integration
langchain-ollama
langchain-core
langchain-community
langchain-huggingface
langgraph
sentence-transformers

# Environment & Utilities
beautifulsoup4
markdownify
rich
nltk                   



